<h1>Change Password</h1>

<div *ngIf="msg" class="alert alert-danger">
	{{msg}}
</div>
<form [formGroup]="myForm" (ngSubmit)="passChange()">
	<div class="form-group">
    <label>Old Password</label>
    <input type="Password" class="form-control" formControlName="oldpassword"/>

							  <div *ngIf="myForm.controls.oldpassword.invalid && myForm.controls.oldpassword.touched" class="alert alert-danger">
       <div *ngIf="myForm.controls.oldpassword.errors.required">
         old password is required
       </div>
   </div>
</div>
<div class="form-group">
    <label>New Password</label>
    <input type="Password" class="form-control" formControlName="newpassword"/>
    			  <div *ngIf="myForm.controls.newpassword.invalid && myForm.controls.newpassword.touched" class="alert alert-danger">
       <div *ngIf="myForm.controls.newpassword.errors.required">
         new password is required
       </div>
</div>
</div>
<div class="form-group">
    <label>confirm Password</label>
    <input type="Password" class="form-control" formControlName="confirmpassword"/>
    			  <div *ngIf="myForm.controls.confirmpassword.invalid && myForm.controls.confirmpassword.touched" class="alert alert-danger">
       <div *ngIf="myForm.controls.confirmpassword.errors.required">
         confirm password is required
       </div>
</div>
</div>
   <input type="submit" value="Submit" class="btn btn-success" [disabled]="myForm.invalid"/>
	</form>