<h1 style="margin-top:50px;margin-bottom:30px;text-align:center;">About E-SHOP-IT</h1>
<p style="margin-left:70px;text-align:justify;margin-right: 70px;margin-bottom: 50px;">About E-SHOP-IT – India’s
    Ultimate Online Shopping Site E-SHOP-IT’s Lorem ipsum dolor, sit amet consectetur adipisicing elit. Error nisi sequi
    magni necessitatibus nesciunt laboriosam possimus consequatur at, numquam est voluptatum laborum totam sint
    distinctio unde iure delectus quos repellendus hic, esse perferendis dolorem? Molestias iste itaque perspiciatis
    ipsa maxime at dicta fugiat quas tempora ipsum, laboriosam obcaecati animi dolore illum ad vel unde vero recusandae
    consectetur magni. Corrupti cumque maiores ut rem et veniam optio ad quo repudiandae voluptatibus amet illo, quis
    explicabo pariatur, omnis impedit? Sint perspiciatis laboriosam dolor hic, veniam accusamus obcaecati aut tenetur,
    aliquid possimus inventore, consequuntur suscipit molestiae ad voluptas eius explicabo maiores a accusantium culpa.
    Consectetur maiores nemo earum nostrum dolores autem assumenda ducimus qui ipsam cumque sit, sed labore enim placeat
    deleniti eos distinctio! Similique dolore est sed nesciunt harum temporibus ipsum commodi velit atque pariatur
    provident itaque iste, eveniet quo! Explicabo similique qui quis tempora. Porro in at, accusantium quas eos
    laboriosam aspernatur earum quos rerum tenetur eligendi, tempore, reprehenderit incidunt fuga tempora nemo similique
    cupiditate ea voluptas veritatis cum amet quae repellat. Fuga magni, saepe qui nisi dolor dolores magnam voluptas
    nam voluptatibus perferendis fugiat eaque provident asperiores? Sint accusamus cupiditate commodi, alias ratione
    reprehenderit iure atque! In voluptate neque totam.</p>